{{ 'custom-header-section.css' | asset_url | stylesheet_tag }}

<div class="header-banner">
  <div class="chs-top-bar">
    <div class="menu-icon-mobile">
      <div class="open-icon"> </div>
      <div class="close-icon"></div>
    </div>
    
    <div class="mobile-menu mobile">  
      <div class="mobile-menu-content">
        <p class="h5 chs-top-text">Find the ideal gift for your loved ones.</p>
        <a class="chs-button-yellow" href="#">Choose Gift</a>
      </div>  
    </div>

    <div class="chs-logo-wrapper">
      <h1 class="h3 chs-logo">
        <a style="text-decoration:none; display:bloack:" href="/">Tisso Vision</a>
      </h1>
    </div>
   <div class="chs-sub-heading">
     <p class="h5 chs-top-text desktop" >Find the ideal gift for your loved ones.</p>
   </div>
    <div class="chs-button-wrapper desktop">
     <a class="chs-button-yellow" href="#">Choose Gift</a>
    </div>
  </div>

<div class="chs-image-content">
  <div class="chs-content-desktop desktop-flex" > 
    <h3 class="h1 chs-h1" >The Gift Guide </h3>
    <p class="chs-para h3">Discover Joy: Your Ultimate Holiday Gift Destination. 
      Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
    </p>
        <a class="chs-button-black" style="text-decoration:none; display:bloack:" href="#">Shop Now</a>
  </div>

  
  <div class="chs-content-mobile mobile-flex">
    <h3 h1 chs-h1>The Gift Guide</h3>
      <p class="chs-para h5">Discover Joy: Your Ultimate Holiday Gift Destination.</p>
  </div>
  
  <div class="chs-image">
    
  </div>
</div>


  
</div>

{% schema %}
{
  "name": "New Header Banner",
  "settings": [],
  "presets": [
    {
      "name": "New Header Banner",
      "category": "Header"
    }
  ]
}
{% endschema %}
