{{ 'custom-header-section.css' | asset_url | stylesheet_tag }}

<div class="header-banner">
  <div class="chs-top-bar">
    <div class="menu-icon-mobile">
      <div class="open-icon"> </div>
      <div class="close-icon"></div>
    </div>

    <div class="mobile-menu mobile">  
      <div class="mobile-menu-content">
        <p class="h5 chs-top-text">Find the ideal gift for your loved ones.</p>
        <a class="chs-button-yellow" href="#">Choose Gift</a>
      </div>  
    </div>

    <div class="chs-logo-wrapper">
      <h1 class="h3 chs-logo">
        <a style="text-decoration:none; display:block;" href="/">Tisso Vision</a>
      </h1>
    </div>

    <div class="chs-sub-heading">
      <p class="h5 chs-top-text desktop">Find the ideal gift for your loved ones.</p>
    </div>

    <div class="chs-button-wrapper desktop">
      <a class="chs-button-yellow" href="#">Choose Gift</a>
    </div>
  </div>

  <div class="chs-image-content">
    <div class="chs-content-desktop desktop-flex"> 
      <h3 class="h1 chs-h1">The Gift Guide</h3>
      <p class="chs-para h3">
        Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
      </p>
      <a class="chs-button-black" style="text-decoration:none; display:block;" href="#">Shop Now</a>
    </div>

    <div class="chs-content-mobile mobile-flex">
      <h3 class="chs-h1">The Gift Guide</h3>
      <p class="chs-para h5">Discover Joy: Your Ultimate Holiday Gift Destination.</p>
    </div>

    <div class="chs-image">
      {% if section.settings.main-image != blank %}
        {% assign img_height = section.settings.main-image.width | divided_by: section.settings.main-image.aspect_ratio %}
        {{ section.settings.main-image | image_url: width: section.settings.main-image.width | image_tag:
        width: section.settings.main-image.width,
        height: img_height,
        class: "main-image",
        fetchpriority: "high" }}
      {% else %}
        <div class="placeholder-svg">
          {{ "dummy-image" | placeholder_svg_tag: "placeholder-svg" }}
        </div>
      {% endif %}

      <div class="chs-button-black-wrapper mobile">
        <a href="#" class="chs-button-black">Shop Now</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "New Header Banner",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "image_picker",
      "id": "main-image",
      "label": "Main Image"
    }
  ],
  "presets": [
    {
      "name": "New Header Banner",
      "category": "Header"
    }
  ]
}
{% endschema %}
