{{ 'custom-header-section.css' | asset_url | stylesheet_tag }}

<div class="header-banner">
  <div class="chs-top-bar">
    <div class="menu-icon-mobile">
      <div class="open-icon"> </div>
      <div class="close-icon"></div>
    </div>
    
    <div class="mobile-menu mobile">  
      <div class="mobile-menu-content">
        <p class="h5 chs-top-text">Find the ideal gift for your loved ones.</p>
        <a href="#">Choose Gift</a>
      </div>  
    </div>
    
    <div class="chs-sub-heading">
      <p class="h5 chs-top-text desktop">Find the ideal gift for your loved ones.</p> 
    
    </div>
  </div>
</div>

{% schema %}
{
  "name": "New Header Banner",
  "settings": [],
  "presets": [
    {
      "name": "New Header Banner",
      "category": "Header"
    }
  ]
}
{% endschema %}
